fastapi~=0.95.1
starlette~=0.26.1
pydantic~=1.10.7
uvicorn==0.22.0
fastapi-pagination==0.12.3
python-dotenv==1.0.0
passlib==1.7.4
python-jose==3.3.0
python-multipart==0.0.6
greenlet==2.0.2 
sqlalchemy==2.0.13
asyncpg==0.27.0
Mako==1.2.4
MarkupSafe==2.1.2
numpy==1.24.3
pandas==2.0.1
seaborn==0.12.2
matplotlib==3.7.1
scikit-learn==1.2.2
scipy==1.10.1
motor==3.1.1
openpyxl==3.1.2